.back-button {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    margin: 20px 0 20px 40px;

    padding: 10px 22px;

    background: #b08d57;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 16px;

    font-weight: 500;

    cursor: pointer;

    width: auto;

    min-width: 110px;

    transition: .3s;
}

.back-button:hover {

    background: #8b6b3f;

    transform: translateY(-2px);
}

@media (max-width: 480px) {

    .back-button {
        margin: 10px 0 10px 10px;
        padding: 6px 12px;
        font-size: 12px;
        min-width: auto;
    }

}